<h2>Create New Account</h2>

<% if @user.errors.any? %>
  <p>Please correct the following errors:</p>
  <ul>
    <% @user.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= @user.errors[:name].join(', ') %>
  <%# Make custom method for this in app/helpers/application_helper.rb %>
  <%# https://stackoverflow.com/a/23932345 %>

  <br>

  <%= f.label :email %>
  <%= f.email_field :email %>
  <br>

    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <br>

  <%= f.submit 'Sign up' %>

<% end %>
